[Unit]
Description=Bitcoin daemon service
After=network.target

[Service]
Type=simple
Restart=always
User={{ linux_service_user }}
ExecStart=/usr/local/bin/bitcoind \
    -datadir={{ bitcoin_node_vars["data_dir"] }} \
    -conf={{ bitcoin_node_vars["config_dir"] }}/bitcoin.conf
ExecStop=/usr/local/bin/bitcoin-cli -datadir={{ bitcoin_node_vars["data_dir"] }} stop
PIDFile=/var/run/bitcoin/bitcoin.pid

[Install]
WantedBy=multi-user.target
