[Unit]
Description=Lightning Network Node
After=network.target

[Service]
Type=simple
Restart=always
User={{ linux_service_user }}
ExecStart=/home/{{ linux_service_user }}/go/bin/lnd \
    -datadir={{ bitcoin_node_vars["data_root"] }}/.bitcoin \
    -conf={{ bitcoin_node_vars["config_dir"] }}/bitcoin.conf
ExecStop=/home/{{ linux_service_user }}/go/bin/lncli stop
PIDFile=/var/run/bitcoin/lnd.pid

[Install]
WantedBy=multi-user.target
