[Unit]
Description=Lightning Network Daemon
Requires=bitcoind.service
After=bitcoind.service

[Service]
Type=simple
Restart=always
User={{ linux_service_user }}
ExecStart=/usr/local/bin/lnd
ExecStop=/usr/local/bin/lncli stop
PIDFile=/var/run/bitcoin/lnd.pid
KillMode=process

[Install]
WantedBy=multi-user.target
